h4 
{
    color: orange;
}
.container
{
    background-color: rgb(68, 66, 66);
    height: 150px; /*Alto*/
    width: 500px; /*Ancho*/

    display: flex;
    border-radius: 5%; /*No cambia el borde de mi imagen*/
    /*align-items: center; 
    justify-content: center;
 Mi bloque no se centra de forma verticaal ni horizontal*/

}
body
{
    background-color: black;
}
.imagen
{
    display: flex;
    width: 195px;
    height: 130px;
    margin: 10px 18px ;
    border-radius: 10%; /*No puedo redonder bordes y nose por que*/
}
h2,h4,h5
{
    margin: 1%;
}
h2,h5
{
    color: ivory;
}