/*Edicion de la letra*/
h4 
{
    color: orange;
    margin: 0px;
}
h2,h5
{
    color: ivory;
    margin: 0px; /*Por defecto la letra tiene margen*/
}
.Espacio
{
    margin-top: 3% ; /*Arriba- derecha - abajo - izquierda*/
}

/*Edicion de cajas*/
.container
{
    background-color: rgb(68, 66, 66);
    /*height: 150px; /*Alto*/
    width: 600px; /*Ancho*/

    display: flex;
    gap: 10px; /*Espacio entre la imagen y el parrafo*/
    border-radius: 5%; /*No cambia el borde de mi imagen*/

}
body
{
    background-color: rgb(153, 147, 147);
}
img
{
    width: 45%;
    border-radius: 5% 0% 0% 5%; /*Las puntas pueden editarse si pongo 4 valores (un valor para cada una)*/
}

